.footer{
    background-image: url(../assests/imgs/footer-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%; 
    height: 300px;
    margin-top: -260px;
    position: relative;
    z-index: -1;
}

.footer  p{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    margin-top: 440px;
    bottom: 0;
    color: #b8b8b8;
    text-align: center;
}